@charset "UTF-8";

/* 回答はここに書いてね */
/* １と８の重なりがうまくいかない */
.q5-container {
  width: 500px;
  height: 500px;
  background-color: #ECF1F2;
  margin: 0 auto;
  position: relative;
}

.q5-box {
  width: 100px;
  height: 100px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  line-height:100px;
  position: absolute;
}

.pink:after {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: #FFEFD3;
  content: "";
}

.pink {
  background-color: #de70cf;
  top:120px;
  left:120px;
  z-index: 8;
}

.blueGreen {
  background-color: #9fd6d2;
  top:360px;
  left:200px;
  z-index: 5;
}

.skin {
  background-color: #ffefd3;
  top:40px;
  left:200px;
  z-index: 1;
}

.brown {
  background-color: #deae70;
  top:200px;
  left:40px;
  z-index: 7;
}

.darkBrown {
  background-color: #8b7a5e;
  top:280px;
  left:280px;
  z-index: 4;
}

.white {
  background-color: #fffee4;
  top:280px;
  left:120px;
  z-index: 6;
}

.blue {
  background-color: #7084de;
  top:120px;
  left:280px;
  z-index: 2;
}

.lightBlue {
  background-color: #d0ecea;
  top:200px;
  left:360px;
  z-index: 3;
}

.darkBlue {
  background-color: #2b69a3;
  position:fixed;
  top:10px;
  left:10px
}

/* 回答はここに書いてね */
