@charset "UTF-8";

/* 回答はここに書いてね */

.q3-table,th,td {
  table-layout: fixed;
  width: 100%;
}
.q3-table th,.q3-table td{
  border: solid #dedede 1px;
}

.q3-table tr th,.q3-table tr td:first-child {
  background-color: #2244aa;
  font-size: 18px;
  line-height: 26px;
  color:#fff;
}

.q3-table tr:nth-child(odd){
  background-color: #ecf1f2;
}

.q3-table th {
  padding: 10px 0;
}

.q3-table td {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  padding:10px;
}

.q3-table tr:last-child {
  border-top: dashed #000 2px;
}
/* 回答はここに書いてね */
